---
// This Element is a text that will behave identically to the animation of the buttons
// in this project. The animation on this component, however, is triggered solely
// by ScrollTrigger by GSAP
---
<div class="w-fit h-fit animate-enter__container overflow-hidden">
  <div class="w-fit h-fit animate-enter">
    <slot/>
  </div>
</div>


