---
import "../../css/main-button.sass";
const {title} = Astro.props;
---

<button class="border-main border-[3px] px-[12px] py-[6px] w-full flex flex-row justify-between relative main-button group">
    <div class="overflow-container">
        <h3 class="text-main main-button__overflow-text group-hover:-translate-y-full" data-second-title={title}> 
            {title}
        </h3>
    </div>
    <h3 class="text-main"> 
        &#x1F865;
    </h3>
</button>