---
import "../../css/main-button.sass";
const {title} = Astro.props;
---

<button class="bg-black px-[12px] py-[10px] w-full flex flex-row justify-between rounded-3xl text-white group">
    <div class="main-button__overflow-container">
        <h3 class="text-white main-button__overflow-text group-hover:-translate-y-full" data-second-title={title}> 
            {title}
        </h3>
    </div>
    <h3 class=""> 
        &#x1F865;
    </h3>
</button>