---
const {title} = Astro.props;
---

<button class=" bg-black px-[12px] py-[10px] w-full flex flex-row justify-between rounded-3xl text-white">
    <h3 class=""> 
        {title}
    </h3>
    <h3 class=""> 
        &#x1F865;
    </h3>
</button>