<footer class="w-full h-fit py-20 bg-black flex-col justify-center items-center gap-20 inline-flex text-white">
    <div class="w-full h-fit">
        <svg class="w-full h-auto" viewBox="0 0 1200 147" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet">
            <path d="M0 144.807V2.69297H55.5581C66.2388 2.69297 75.3381 4.75159 82.8558 8.86882C90.3736 12.9398 96.1036 18.6068 100.046 25.8698C104.034 33.0865 106.028 41.4135 106.028 50.8508C106.028 60.288 104.011 68.615 99.9771 75.8317C95.9432 83.0485 90.0986 88.6692 82.4433 92.6939C74.8338 96.7186 65.62 98.731 54.8017 98.731H19.3903V74.6521H49.9885C55.7185 74.6521 60.4401 73.6575 64.1531 71.6683C67.912 69.6328 70.7082 66.834 72.5418 63.2719C74.4213 59.6635 75.361 55.5231 75.361 50.8508C75.361 46.1321 74.4213 42.0149 72.5418 38.499C70.7082 34.9369 67.912 32.1844 64.1531 30.2414C60.3942 28.2522 55.6269 27.2576 49.851 27.2576H29.7731V144.807H0Z" fill="white"/>
            <path d="M133.377 144.807H101.473L150.086 2.69297H188.454L236.999 144.807H205.094L169.82 35.1683H168.72L133.377 144.807ZM131.383 88.9468H206.744V112.401H131.383V88.9468Z" fill="white"/>
            <path d="M371.579 52.4468H341.462C340.912 48.5146 339.789 45.0219 338.093 41.9686C336.397 38.8691 334.22 36.2323 331.561 34.058C328.902 31.8837 325.831 30.2183 322.347 29.0618C318.909 27.9053 315.173 27.327 311.139 27.327C303.851 27.327 297.502 29.1543 292.093 32.8089C286.684 36.4173 282.489 41.6911 279.51 48.6302C276.53 55.5231 275.04 63.8964 275.04 73.75C275.04 83.8812 276.53 92.3932 279.51 99.2861C282.535 106.179 286.752 111.383 292.161 114.899C297.57 118.415 303.828 120.173 310.933 120.173C314.921 120.173 318.611 119.641 322.003 118.577C325.441 117.513 328.49 115.963 331.148 113.928C333.807 111.846 336.007 109.325 337.749 106.364C339.537 103.403 340.775 100.026 341.462 96.2329L371.579 96.3717C370.8 102.894 368.852 109.186 365.735 115.246C362.663 121.26 358.515 126.65 353.289 131.414C348.109 136.133 341.921 139.88 334.724 142.656C327.573 145.385 319.482 146.75 310.452 146.75C297.891 146.75 286.661 143.882 276.759 138.145C266.904 132.409 259.111 124.105 253.381 113.234C247.697 102.362 244.854 89.2012 244.854 73.75C244.854 58.2525 247.742 45.0681 253.518 34.1968C259.294 23.3254 267.133 15.0447 277.034 9.35457C286.936 3.61819 298.075 0.75 310.452 0.75C318.611 0.75 326.175 1.90653 333.142 4.21958C340.156 6.53264 346.367 9.9097 351.776 14.3508C357.185 18.7456 361.586 24.135 364.978 30.519C368.416 36.903 370.617 44.2123 371.579 52.4468Z" fill="white"/>
            <path d="M422.702 2.69297V144.807H392.929V2.69297H422.702Z" fill="white"/>
            <path d="M447.198 144.807V2.69297H540.437V27.4658H476.971V61.3289H534.248V86.1017H476.971V144.807H447.198Z" fill="white"/>
            <path d="M590.236 2.69297V144.807H560.463V2.69297H590.236Z" fill="white"/>
            <path d="M738.981 52.4468H708.864C708.314 48.5146 707.191 45.0219 705.495 41.9686C703.799 38.8691 701.622 36.2323 698.963 34.058C696.304 31.8837 693.233 30.2183 689.749 29.0618C686.311 27.9053 682.575 27.327 678.541 27.327C671.253 27.327 664.904 29.1543 659.495 32.8089C654.086 36.4173 649.891 41.6911 646.912 48.6302C643.932 55.5231 642.442 63.8964 642.442 73.75C642.442 83.8812 643.932 92.3932 646.912 99.2861C649.937 106.179 654.154 111.383 659.563 114.899C664.973 118.415 671.23 120.173 678.335 120.173C682.323 120.173 686.013 119.641 689.405 118.577C692.843 117.513 695.892 115.963 698.55 113.928C701.209 111.846 703.409 109.325 705.151 106.364C706.939 103.403 708.177 100.026 708.864 96.2329L738.981 96.3717C738.202 102.894 736.254 109.186 733.137 115.246C730.065 121.26 725.917 126.65 720.691 131.414C715.511 136.133 709.323 139.88 702.126 142.656C694.975 145.385 686.884 146.75 677.854 146.75C665.293 146.75 654.063 143.882 644.161 138.145C634.306 132.409 626.513 124.105 620.783 113.234C615.099 102.362 612.257 89.2012 612.257 73.75C612.257 58.2525 615.144 45.0681 620.92 34.1968C626.696 23.3254 634.535 15.0447 644.436 9.35457C654.338 3.61819 665.477 0.75 677.854 0.75C686.013 0.75 693.577 1.90653 700.544 4.21958C707.558 6.53264 713.769 9.9097 719.178 14.3508C724.588 18.7456 728.988 24.135 732.38 30.519C735.818 36.903 738.019 44.2123 738.981 52.4468Z" fill="white"/>
            <path d="M781.956 144.807H750.052L798.665 2.69297H837.033L885.578 144.807H853.673L818.399 35.1683H817.299L781.956 144.807ZM779.962 88.9468H855.323V112.401H779.962V88.9468Z" fill="white"/>
            <path d="M919.098 146.611C914.56 146.611 910.664 144.992 907.409 141.754C904.2 138.469 902.596 134.537 902.596 129.957C902.596 125.424 904.2 121.538 907.409 118.299C910.664 115.061 914.56 113.442 919.098 113.442C923.499 113.442 927.349 115.061 930.65 118.299C933.95 121.538 935.601 125.424 935.601 129.957C935.601 133.01 934.821 135.809 933.263 138.354C931.75 140.852 929.756 142.864 927.281 144.391C924.805 145.871 922.078 146.611 919.098 146.611Z" fill="white"/>
            <path d="M960.199 144.807V2.69297H989.973V65.3536H991.829L1042.51 2.69297H1078.19L1025.93 66.3251L1078.81 144.807H1043.19L1004.62 86.3793L989.973 104.421V144.807H960.199Z" fill="white"/>
            <path d="M1092.18 144.807V126.973L1162.46 27.4658H1092.05V2.69297H1199.86V20.5266L1129.52 120.034H1200V144.807H1092.18Z" fill="white"/>
        </svg>
    </div>
    <div class="w-full h-fit flex flex-row gap-x-0 items-center justify-center">
        <div class="w-1/2 grid grid-cols-4 gap-4">
            <div class="flex flex-col gap-y-10">
                <p>Решения и продукты</p>
                <div class="flex flex-col gap-y-4">
                    <a class="link-text text-white/60" href="#">Cистема интернет-разведки</a>
                    <a class="link-text text-white/60" href="#">Безопасность приложений</a>
                    <a class="link-text text-white/60" href="#">Системы киберучений</a>
                </div>
            </div>
            <div class="flex flex-col gap-y-10">
                <p>О компании</p>
                <div class="flex flex-col gap-y-4">
                    <a class="link-text text-white/60" href="#">Партнёры</a>
                    <a class="link-text text-white/60" href="#">Новости</a>
                    <a class="link-text text-white/60" href="#">Вакансии</a>
                </div>
            </div>
            <div class="flex flex-col gap-y-10">
                <p>Услуги</p>
                <div class="flex flex-col gap-y-4">
                    <a class="link-text text-white/60" href="#">Консалтинг</a>
                    <a class="link-text text-white/60" href="#">Технический аудит</a>
                    <a class="link-text text-white/60" href="#">Разработка ПО</a>
                </div>
            </div>
            <div class="flex flex-col gap-y-10">
                <p>Мы онлайн</p>
                <div class="flex flex-col gap-y-4">
                    <a class="link-text text-white/60" href="#">Instagram</a>
                    <a class="link-text text-white/60" href="#">Facebook</a>
                    <a class="link-text text-white/60" href="#">LinkedIn</a>
                </div>
            </div>
        </div>
        <div class="w-1/2 flex flex-col justify-between items-end gap-y-10">
            <h3 class="text-right">+7 (727) 355-00-11</h3>
            <h3 class="w-[280px] text-right">ул. Алматы 7, бизнес-центр «Seven», офис 903</h3>
            <a href="mailto:info@pacifica.kz"><h3 class="text-right">info@pacifica.kz</h3></a>
        </div>
    </div>
    <!-- Attributions to creator -->
     <a class="link-text text-white/60" href="https://www.adtimokhin.me" target="_blank">by @<span class="underline">adtimokhin</span></a>
</footer>