---
import "../css/navbar.sass";
---

<nav class="w-full h-fit bg-transparent absolute top-5 z-30 flex flex-row justify-between items-center px-10">
    <!-- TODO: Add logic of the button -->
    <h3 class="font-black text-white">PACIFICA</h3>
    <div class="flex flex-row justify-center items-center gap-x-3 hover:cursor-pointer fixed top-5 right-5 group">
        <div class="overflow-container">
            <h3 class="text-black overflow-text group-hover:-translate-y-full" data-second-title="Меню"> 
                Меню
            </h3>
        </div>
        <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="21" cy="21" r="21" fill="black" class="transition-all duration-300 ease-easeOutQuart group-hover:fill-main"/>
            <line x1="8" y1="16.5" x2="34" y2="16.5" stroke="white"/>
            <line x1="8" y1="21.5" x2="34" y2="21.5" stroke="white"/>
            <line x1="8" y1="26.5" x2="34" y2="26.5" stroke="white"/>
        </svg>
    </div>
</nav>